<div class="col-12 main-container">
    <div class="row col-12 submain-container">
        <div class="container-fluid">

            <app-nav-bar></app-nav-bar>

            <div class="card p-5">
                <table class="table table-hover table-striped">
                    <thead class="text-secondary">
                        <th>Name</th>
                        <th>Type</th>
                        <th>Dimension</th>
                        <th>Residents</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of locations; index as i">
                            <td>{{item.name}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.dimension}}</td>
                            <td>
                                <button (click)="navigate(item.id)" class="btn btn-secondary p-2">
                                    <a style="font-size: 14px;">Open</a>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-paginacao 
                    [pages]="info?.pages"
                    [next]="info?.next" 
                    [prev]="info?.prev"
                    (pageChanged)="onPageChanged($event)">
                </app-paginacao>
            </div>

        </div>
    </div>
</div>